<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <th:block th:replace="~{fragments/layout :: layout(
        'Welcome',
        ~{ :: .welcome}
    )}">
        <th-block class="welcome">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
    
            <h2>Welcome <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
        </th-block>
    </th:block>
</html>
